* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.main {
  width: 100%;
  margin: 0 auto;
  height: 130vh;
  padding-top: 5%;
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right, left;
  background-color: #fff8f3;
  margin-bottom: 100px;
}

.rht {
  width: 70%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
#mary {
  font-size: 45px;
}
nav ul {
  display: inline;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 15px 20px 20px 15px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.hire {
  font-size: 20px;
  color: white;
  padding: 20px 30px 20px 30px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-weight: 600;
}
.hreo {
  padding: 5%;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.content .murgi,
.botok,
.pagla {
  line-height: 3cm;
}
.content .murgi {
  font-size: 40px;
}

.content .pagla,
.botok {
  font-size: 60px;
}
.content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.content button {
  font-size: 18px;
  padding: 15px 30px 15px 30px;
  background-color: #fd6e0a;
  color: white;
  border: none;
  border-radius: 5px;
}
.about {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 5%;
  background-color: #fff8f3;
  margin-bottom: 100px;
}
.about-me {
  font-size: 45px;
}
.about p {
  font-size: 18px;
  color: #757575;
  font-weight: 300;
}
.aboutinfo {
  display: flex;
}
.name,
.Specialty,
.Location,
.Email {
  margin: 30px;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}
.whatido {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.what-i-d {
  font-size: 45px;
  padding-bottom: 30px;
}
.what-i-do-box {
  display: flex;
  max-width: 85%;
  margin: 0 auto;
  line-height: 1cm;
}
.what-i-do-box p {
  line-height: 25px;
}
.box-model {
  text-align: left;
  color: red;
}
.boc-model {
  text-align: left;
  padding: 3%;
  color: #757575;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin: 15px;
}
.summary-information {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}
.murog {
  margin: 15px;
  line-height: 30px;
}
.murgibotok {
  font-size: 20px;
  color: white;
  padding: 15px 30px 15px 30px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  text-align: center;
}
.paglarbaccha {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.my-form {
  width: 70%;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 5% 5%;
  text-align: center;
}
.my-form h3 {
  font-size: 35px;
}

.myform-left p {
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  margin: 15px;
}
input {
  width: 500px;
  padding: 15px;
  margin: 5px;
}
textarea {
  width: 500px;
  padding: 15px;
  margin: 5px;
}
#lastpagla {
  padding: 15px 30px 15px 30px;
  border: none;
  font-size: 18px;
  background-color: black;
  color: #fff8f3;
  border-radius: 50px;
  transition: 1s;
}

#lastpagla:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px,
    rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition: 1s;
}
hr {
  height: 1px;
  background-color: rgb(219, 219, 219);
  border: none;
}
